html {
	height: 100%;
	width: 100%;
	margin: 0;
	background: black;
}

body {
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.backgrounds {
	background: no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background_1 {
	background: url('./images/ada.jpg') no-repeat center center fixed;
}

.background_2 {
	background: url('./images/ada2.jpg') no-repeat center center fixed;
}

.background_3 {
  background: url('./images/bigjones.jpg') no-repeat center center fixed;
}

.background_4 {
  background: url('./images/bigjones2.jpg') no-repeat center center fixed;
}

.background_5 {
	background: url('./images/bigjones3.jpg') no-repeat center center fixed;
}

.background_6 {
	background: url('./images/campagnola.jpg') no-repeat center center fixed;
}

.background_7 {
	background: url('./images/campagnola2.jpg') no-repeat center center fixed;
}

.empty, .content {
	height: 100vh;
}

.box {
  position: relative;
  background: rgba(15, 15, 15,.8);
  height: 200px;
  line-height: 200px;
  z-index: 1;
  color: white;
  text-align: center;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.left {
  float: left;
  margin-left: 150px;
	width: 200px;
}

.right {
  float: right;
  margin-right: 150px;
	width: 200px;
}

.center{
  margin-left: auto;
  margin-right: auto;
  line-height: 20px;
  height: auto;
  padding: 2em;
	width: 300px;
}

.extra {
	background: rgb(112, 128, 144);
	color: white;
	height: 100%;
	overflow: hidden;
	text-align: center;
}
